h3 {
	color: #6699cc;
	font-size: 2rem;
	font-weight: 400;
}

.titleandbtn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	a {
		color: #000000;
		font-weight: 600;
	}
	a:hover {
		color: #000000b1;
	}
}

.ArticleNoBtn {
	p {
		font-size: 1.2rem;
	}
}

.singleArticle {
	p {
		font-size: 1.6rem;
	}
}

article {
	margin-top: 2%;
}

.pictureArticle {
	display: flex;
	img {
		width: 475px;
		padding-left: 5%;
	}
}
